<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1051141199188-n91r5pdu2rbq794p040e8moa4i9ggp5j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1051141199188-n91r5pdu2rbq794p040e8moa4i9ggp5j</string>
	<key>API_KEY</key>
	<string>AIzaSyATw-3H2N9ZeXCBNyFsXYq31gGfTlesekk</string>
	<key>GCM_SENDER_ID</key>
	<string>1051141199188</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gobi.app.Findit</string>
	<key>PROJECT_ID</key>
	<string>beacon-tags-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>beacon-tags-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1051141199188:ios:5bb7c93e84d11b9dbaa4c1</string>
</dict>
</plist>