<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>199074098912-atv71ptra6pa5duo334s6pqdml9badln.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.199074098912-atv71ptra6pa5duo334s6pqdml9badln</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>199074098912-bffka60nbo59a9bflkf847h75abv6749.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyATYZ4xZrGlhuX96lg9Dxt7r7p-fzzqusI</string>
	<key>GCM_SENDER_ID</key>
	<string>199074098912</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gobi.app.Findit</string>
	<key>PROJECT_ID</key>
	<string>whereisit-d66b1</string>
	<key>STORAGE_BUCKET</key>
	<string>whereisit-d66b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:199074098912:ios:2f12bb7fbac5c291b8ea85</string>
</dict>
</plist>