<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.beaconTags">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
      android:name="com.beaconTags.MainApplication"
      android:label="Beacon"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:theme="@style/AppTheme">
        <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyBCdOph1FqRHjuTRwy3P0zp4-zoiqeZYz8"></meta-data>
      <activity
        android:name="com.beaconTags.MainActivity"
        android:label="Beacon"
        android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
            <action android:name="android.intent.action.VIEW"/>
            <category android:name="android.intent.category.DEFAULT"/>
            <category android:name="android.intent.category.BROWSABLE"/>
        </intent-filter>
      </activity>

    </application>
</manifest>
